.logo{
width: 20%;
height: 20%;
padding-top: 2%;
padding-bottom: 2%;

    
}


.paddingMe{
    margin-left: 25px;
}
.restyling{
overflow: hidden !important;
}

.goRight{
    float: right;
}

#right-button{
    position: absolute;
}