<!-- Section 1 -->
<button mat-icon-button [matMenuTriggerFor]="menu" class="goRight">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">




  <mat-form-field class="paddingMe" appearance="outline" menuOpen="true" (click)="$event.stopPropagation();">
    <mat-label>API Key</mat-label>
    <input matInput placeholder="Write here your key" #keyValue>
    <!-- <mat-icon matSuffix class="fas fa-check-circle">check-circle</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
    <button mat-button id="right-button" (click)="saveKey(keyValue.value)">Set</button>

  </mat-form-field>







<!--   <mat-slide-toggle (click)="$event.stopPropagation();">Slide me!</mat-slide-toggle>
 -->


</mat-menu>
<div fxLayoutAlign="center center">
  <img class="logo" src="../..\assets\logoPerfectBet.png" alt="PerfectBet">

</div>
