/* .list{
    padding-right: 5%;
    
} */

    
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width: 200px;
  }
.research{
    /* background-color: lightblue; */
     margin-right: 5px;
      

}