<!-- Section 2 -->

<div class="research" [fxLayout]="direction" fxLayoutAlign="center center">
        <mat-card>
                <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="25px">

                      
        
       
            <div class="list">                         
                          
                <mat-form-field>
                    <mat-select placeholder="" name="tournament" [(ngModel)]="tournament" (ngModelChange)="onSelectedTournament($event)">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let singleSport of sports" [label]="singleSport.name" [disabled]="singleSport.disabled">
                            <mat-option *ngFor="let singleChampionship of singleSport.championships" [value]="singleChampionship.value">
                                {{singleChampionship.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="region">
                <mat-button-toggle-group name="region" [(ngModel)]="region" (ngModelChange)="onSelectedRegion($event)">
                    <mat-button-toggle value="uk">UK</mat-button-toggle>
                    <mat-button-toggle value="au">AU</mat-button-toggle>
                    <mat-button-toggle value="us">US</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
<!--             <button mat-fab (click)="search()" routerLink="/result">
                <mat-icon aria-label="search icon">search</mat-icon>
            </button> -->
            <button mat-fab (click)="search()">
                <mat-icon aria-label="search icon">search</mat-icon>
            </button>
            

        </div>
        </mat-card>

        <p *ngIf="noMatchFound">Nessuna partita trovata</p>

</div>
<router-outlet></router-outlet>