.mainAccordion{
    margin-top: 5px;
    margin-bottom: 5px;
    

}
.padd-right{
    padding-right: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  .star{
    width: 10px;
    height: 10px;
  }
.gold{
    background: #ffd7001a;
}
.adjustColour{
    background: #f3f2f2;

}
.setwidth{
    width: 88%;
}

.animation{
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
     -ms-transition: 10s ease-in;
      -o-transition: 10s ease-in;
         transition: 10s ease-in;
}
table {
    width: 100%;
  }
  .spinner{
      padding-top: 20px;
  }


  .result{
      margin-top: 30px;
  }
  .series{
      padding-right: 10px;
      flex-grow: 0;
  }

.perfectbet{
    padding-bottom: 50px;
}