.mainAccordion{
    margin-top: 5px;
    margin-bottom: 5px;

}

.animation{
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
     -ms-transition: 10s ease-in;
      -o-transition: 10s ease-in;
         transition: 10s ease-in;
}
table {
    width: 100%;
  }
  .spinner{
      padding-top: 20px;
  }


  .result{
      margin-top: 30px;
  }
  .series{
      padding-right: 10px;
      flex-grow: 0;
  }

.perfectbet{
    padding-bottom: 50px;
}